use flake

layout_rustrover_toolchain() {
  local rustc_path
  rustc_path="$(readlink -f "$(which rustc)")"

  local toolchain_root
  toolchain_root="$(dirname "$(dirname "$rustc_path")")"

  ln -sfn "$toolchain_root" .direnv/rustrover-toolchain
}

layout_rustrover_toolchain